#pUM{
    font-size: 80px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
#pDOIS{
    font-size: 80px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: white;
}
body{
    background-color: white;
}
img {
    width: 350px;
    height: 100px;
}
h1{
    color: black;
}